@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Roboto+Slab:wght@900&display=swap");

/* NavigationBar.js */
.nav_links {
  color: black !important;
  font-size: 18px !important;
  font-weight: 500 !important;
  text-decoration: none;
}

.nav-bg{
  background-color: rgba(255, 255, 255, 0.374);
}

.nav_links:hover{
  color: #3e64ff !important;
  text-decoration: underline;
}

.brand-name {
  font-size: 30px;
  font-family: "Bree Serif", serif;
  font-family: "Roboto Slab", serif;
}

.brand-name-start {
  background-color: #3e64ff;
  color: white;
  display: inline-block;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  text-align: center;
}

/* Overlay.js */

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  content: "";
  opacity: 0.1;
  width: 50%;
  background: #3e64ff;
}

li {
  margin-left: 20px;
  margin-right: 20px;
}

/* Introduction.js */

.flex-container {
  display: flex;
  flex-direction: row;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.centered-content {
  text-align: center;
}

h1 {
  font-size: 50px !important;
  font-weight: 800 !important;
  line-height: 1.5;
  color: black;
}

h3 {
  font-size: 2rem !important;
  font-weight: 800 !important;
  line-height: 1.5;
  color: black;
}

.sub-heading {
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 800;
  color: #3e64ff;
  letter-spacing: 4px;
}

.typer {
  color: #3e64ff;
  text-decoration: underline;
}

/* Social.js */

.icon-container {
  display: flex;
  align-items: center;
}

.fa-brands,
.iconify-icon {
  margin-top: 40px;
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 40px;
  font-size: 50px;
}

a {
  color: black !important;
}

.custom-nav {
  display: flex;
  flex-wrap: nowrap; /* Prevent wrapping */
}

/* profile.js */

.p-div{
  margin-top: 100px !important;
  margin-bottom: 100px !important;
}

.profile-h2 {
  font-weight: bold;
  font-size: 50px !important;
}

.profile-p {
  color: #999999;
}

.profile-ul {
  list-style: none;
}

.profile-tq {
  font-weight: 600;
  width: 130px;
  display: inline-block;
  margin: 5px;
}

.profile-ta {
  color: #999999;
  width: 200px;
}

/* Education.js */

.r-li {
  font-weight: 700;
  margin-bottom: 10px;
  font-size: 17px;
}

.r-side-nav{
  margin-top: 100px !important;
}

.r-nav-li{
  text-decoration: none;
}

.r-nav-li:hover{
  color: #3e64ff !important;
  font-size: 19px;
}

.r-hd {
  margin-top: 75px;
  font-weight: 800;
  font-size: 30px;
  margin-bottom: 30px;
  color: #3e64ff;
}

.qualification-date {
  font-weight: 800;
  font-size: 16px;
  color: #3e64ff;
}

.qualification-certificate {
  font-size: 24px;
  font-weight: 700;
}

.qualification-location {
  font-size: 15px;
  font-weight: 600;
}

.q-icon{
  background-color: #3e64ff;
  padding: 10px;
  color: white;
  border-radius: 50%;
}

/* Skills.js */
.skill-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.progress-container {
  width: 150px;
  height: 150px;
}

.s-hd{
  font-size: 20px;
  font-weight: bolder;
}


/* Projects.js */

.pro-container{
  width: 450px;
  height: 350px;
  /* background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%); */
  background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
}

.pro-container:hover{
  background: #3e64ff; 
}

.cd{
  background-color: rgb(61, 100, 255)
}


/* Advertisement.js */

.ad-container{
  width: 100%;
  height: 420px;
  overflow: hidden;
  margin-top: 200px;
  margin-bottom: 200px;
  background: linear-gradient(to right, rgba(61, 100, 255, 0.5),rgba(61, 100, 255, 0.5)), url('./images/banner.jpg');
  background-size: cover;
  background-position: center;
}


.ad-h1{
  font-weight: 800;
  font-size: 45px;
  color: white;
}

.ad-p{
  color: white;
  margin-top: 30px;
  font-size: 18px;
  margin-bottom: 40px;
}


.adv-anch{
  color: white!important;
  background-color: #3e64ff;
  padding: 15px 35px !important;
  border-radius: 50px;
  font-weight: 800;
  font-size: 13px;
  text-decoration: none;
}

.adv-anch:hover{
  color: black !important;
}


/* Contact.js */

.c-span{
  background-color: #3e64ff;
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  margin-bottom: 50px;
}

.c-icon{
  color: white;
  font-size: 30px;
}


.c-anchor{
  text-decoration: none;
  color: #3e64ff !important;
}

.c-form-group{
  margin: 50px;
}

.con-btn{
  color: white!important;
  background-color: #3e64ff !important;
  padding: 15px 35px !important;
  border-radius: 50px !important;
  font-weight: 800 !important;
  font-size: 13px !important;
  float: left;
}

.div-mar{
  margin-top: 100px;
}