/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Roboto+Slab:wght@900&display=swap");

/* NavigationBar.js */
.nav_links {
  color: black !important;
  font-size: 18px !important;
}

.brand-name {
  font-size: 30px;
  font-family: "Bree Serif", serif;
  font-family: "Roboto Slab", serif;
}

.brand-name-start {
  background-color: #3e64ff;
  color: white;
  display: inline-block;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  text-align: center;
}

/* Overlay.js */

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  content: "";
  opacity: 0.1;
  width: 50%;
  background: #3e64ff;
}

li {
  margin-left: 20px;
  margin-right: 20px;
}

/* Introduction.js */

.flex-container {
  display: flex;
  flex-direction: row;
  height: 90vh;
  justify-content: center;
  align-items: center;
}

.centered-content {
  text-align: center;
}

h1 {
  font-size: 50px !important;
  font-weight: 800 !important;
  line-height: 1.5;
  color: black;
}

h3 {
  font-size: 2rem !important;
  font-weight: 800 !important;
  line-height: 1.5;
  color: black;
}

.sub-heading {
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 800;
  color: #3e64ff;
  letter-spacing: 4px;
}

.typer {
  color: #3e64ff;
  text-decoration: underline;
}

/* Social.js */

.icon-container {
  display: flex;
  align-items: center;
}

.fa-brands,
.iconify-icon {
  margin-top: 40px;
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 40px;
  font-size: 50px;
}

a {
  color: black !important;
}

.custom-nav {
  display: flex;
  flex-wrap: nowrap; /* Prevent wrapping */
}

/* profile.js */

.profile-h2 {
  font-weight: bold;
  font-size: 50px !important;
}

.profile-p {
  color: #999999;
}

.profile-ul {
  list-style: none;
}

.profile-tq {
  font-weight: 600;
  width: 130px;
  display: inline-block;
  margin: 5px;
}

.profile-ta {
  color: #999999;
  width: 200px;
}

/* Education.js */

.r-li {
  font-weight: 700;
  margin-bottom: 10px;
  font-size: 17px;
}

.r-hd {
  font-weight: 800;
  font-size: 30px;
  margin-bottom: 30px;
  color: #3e64ff;
}

.qualification-date {
  font-weight: 800;
  font-size: 16px;
  color: #3e64ff;
}

.qualification-certificate {
  font-size: 24px;
  font-weight: 700;
}

.qualification-location {
  font-size: 15px;
  font-weight: 600;
}

.q-icon{
  background-color: #3e64ff;
  padding: 10px;
  color: white;
  border-radius: 50%;
}

/* Skills.js */
.skill-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.progress-container {
  width: 150px;
  height: 150px;
}

.s-hd{
  font-size: 20px;
  font-weight: bolder;
}


/* Projects.js */

.pro-container{
  width: 450px;
  height: 350px;
  /* background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%); */
  background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
}

.pro-container:hover{
  background: #3e64ff; 
}
